@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  color: #000;
  font-family: 'ヒラギノ角ゴ ProN W3', Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #696C75;
}

/*--コンテンツ内の幅--*/
.inner {
  width: 92%;
  margin: 0 auto;
}

/*--見出し--*/
.main_index {
  text-align: center;
}

.main_index h4 {
  padding: 15px 0;
  position: relative;
  margin: 30px auto;
  font-weight: 300;
  font-size: 23px;
  border-bottom: 2px solid #696C75;
  color: #000;
}

.main_index h4::before {
  position: absolute;
  content: '';
  width: 30%;
  left: 0;
  bottom: -2px;
  border-bottom: 2px solid #c2a79c;
}

.main_index2 {
  text-align: center;
  width: 92%;
  margin: 0 auto;
}

.main_index2 h4 {
  padding: 15px 0;
  position: relative;
  margin: 30px auto;
  font-weight: 300;
  font-size: 23px;
  color: #000;
  border-bottom: solid 1px #000;
}

/*--header ここから*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

.header_logo {
  text-align: center;
}

.header_logo img {
  height: 70px;
  width: auto;
}

.mainvis {
  margin-top: 70px;
}

.mainvis .mainvis_img {
  background-color: white;
  background-image: url(https://github.com/matsumotojunki/sample/blob/main/main_img.JPG?raw=true);
  height: 350px;
  width: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.mainvis .mainvis_img h2 {
  position: absolute;
  bottom: 130px;
  width: 100%;
  background-color: white;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  font-weight: 600;
}

/*--header ここまで*/
/*--menuここから--*/
.menu-top {
  text-align: center;
  position: relative;
}

.menu-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.menu-top ul li {
  list-style: none;
  width: 27%;
  height: 17px;
  line-height: 20px;
  background-color: #c2a79c;
  color: #fff;
  margin: 3px auto;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 13px;
}

.menu-top ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-family: 'Noto Serif JP', serif;
}

.menu-top ul .menu1 a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2bd";
  font-weight: 800;
  margin-right: 5px;
  color: #fff;
}

.menu-top ul .menu2 a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  font-weight: 900;
  margin-right: 5px;
  color: #fff;
}

.menu-top ul .menu3 a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f157";
  font-weight: 900;
  margin-right: 5px;
  color: #fff;
}

.menu-top ul .menu4 a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f4ad";
  font-weight: 900;
  margin-right: 5px;
  color: #fff;
}

.menu-top ul .menu5 a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  font-weight: 900;
  margin-right: 5px;
  color: #fff;
}

.menu-top ul .menu6 a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f274";
  font-weight: 900;
  margin-right: 5px;
  color: #fff;
}

/*ハンバーガーメニューここから*/
#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  left: -120%;
  width: 60%;
  height: 100vh;
  /*ナビの高さ*/
  background: #ECE0D8;
  /*動き*/
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 60%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 8%;
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  font-size: 22px;
  text-align: center;
  color: #333;
  font-weight: 700;
}

#g-nav li a {
  font-weight: 300;
  color: #333;
  text-decoration: none;
  text-align: left;
  padding: 20px;
  display: block;
  letter-spacing: 0.1em;
  border-bottom: solid 1px #000;
  font-size: 16px;
}

#g-nav li a::before {
  font-family: "Font Awesome 5 Free";
  content: '\f138';
  font-weight: 900;
  margin-right: 5px;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*ハンバーガーメニューここまで*/
/*--menuここまで--*/
/*--topここから--*/
#top {
  padding-top: 60px;
  margin-top: -60px;
}

.top_img img {
  width: 100%;
}

.top_text {
  line-height: 2.0;
}

.top_text h3 {
  padding: 5px 0;
  position: relative;
  margin: 20px 0;
  font-weight: 300;
  font-size: 23px;
  border-bottom: 2px solid #696C75;
  text-align: center;
  color: #000;
}

.top_text h3::before {
  position: absolute;
  content: '';
  width: 30%;
  left: 0;
  bottom: -2px;
  border-bottom: 2px solid #c2a79c;
}

.top_text p {
  margin-bottom: 20px;
  font-size: 16px;
}

.top_text ul {
  margin-bottom: 20px;
}

.top_text ul li {
  margin-left: 30px;
  font-size: 16px;
}

/*--topここまで--*/
/*--contentここから--*/
.content_inner {
  padding-top: 60px;
  margin-top: -60px;
}

.content {
  background-color: rgba(207, 180, 156, 0.4);
  padding: 5px;
  margin-top: 30px;
}

.content .content_v {
  background-color: #F7F7F7;
  padding: 1% 5%;
  border-radius: 3px;
  width: 92%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content .content_v img {
  width: 100%;
}

.content .content_v .index {
  text-align: center;
  margin: 5px 0;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
}

.content .content_v p {
  line-height: 2.0;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

/*--contentここまで--*/
/*--施術事例ここから--*/
/*--施術事例ここまで--*/
/*--お客様の声ここから--*/
#cust_voice {
  padding-top: 60px;
  margin-top: -60px;
}

.voice {
  margin-top: 50px;
}

.voice img {
  width: 100%;
}

.voice_text {
  background-color: rgba(190, 154, 120, 0.15);
  margin: 10px 0;
  border-radius: 5px;
  line-height: 2.0;
  padding: 10px 10px;
  font-size: 16px;
}

.voice_button {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

.voice_button a {
  color: royalblue;
  text-decoration: none;
  border-bottom: solid 1px royalblue;
}

.voice_button a::before {
  font-family: "Font Awesome 5 Free";
  content: '\f138';
  font-weight: 900;
  margin-right: 5px;
}

.voice_page {
  margin-top: 100px;
}

/*--お客様の声ここまで--*/
/*--施術方法ここから--*/
#method {
  padding-top: 60px;
  margin-top: -60px;
}

.method p {
  line-height: 2.0;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 16px;
}

.method ul {
  margin-bottom: 20px;
}

.method ul li {
  margin-left: 30px;
  line-height: 2.0;
  font-size: 16px;
}

.method_main_text {
  margin-bottom: 20px;
  background-color: #F7F7F7;
  padding: 1% 5%;
  border-radius: 3px;
}

.method_main_text .method_1,
.method_main_text .method_2,
.method_main_text .method_3,
.method_main_text .method_4,
.method_main_text .method_5,
.method_main_text .method_6 {
  font-size: 20px;
  margin-right: 5px;
}

.method_main_text .index {
  text-align: center;
  margin: 5px 0;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
}

.method_main_text .method_box {
  position: relative;
}

.method_main_text .method_box img {
  width: 100%;
}

/*--施術方法ここまで--*/
/*--blogここから--*/
.blog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog_list_box {
  width: 48%;
  border: solid 1px #ccc;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog_list_box img {
  width: 100%;
}

.blog_list_box .blog_title {
  margin-top: 10px;
  font-size: 15px;
}

.blog_list_box .read {
  text-align: right;
  margin-top: 10px;
  font-size: 13px;
}

.blog_list .readmore {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.blog_list .readmore a {
  color: royalblue;
  text-decoration: none;
  border-bottom: solid 1px royalblue;
}

.blog_list .readmore a::before {
  font-family: "Font Awesome 5 Free";
  content: '\f138';
  font-weight: 900;
  margin-right: 5px;
}

/*--blogここまで--*/
/*--menuここから--*/
#menu {
  padding-top: 60px;
  margin-top: -60px;
}

.menu_inner {
  background-color: rgba(207, 180, 156, 0.4);
  padding: 1px 0;
  margin-top: 50px;
  margin-bottom: 30px;
}

.menu_box {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #F7F7F7;
  padding: 5%;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu_box_img img {
  width: 100%;
  margin-bottom: 15px;
}

.menu_box_text .menu_list {
  border-bottom: solid 1px #000;
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  padding-bottom: 5px;
  color: #696C75;
  font-weight: 600;
  line-height: 1.5;
}

.menu_box_text ul {
  margin-bottom: 20px;
}

.menu_box_text ul li {
  list-style: none;
  margin-left: 10px;
  line-height: 2.0;
  font-size: 16px;
}

.menu_box_text p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.sub_menu_box {
  margin-bottom: 30px;
}

.sub_menu_box_index {
  text-align: center;
  border-bottom: solid 1px #000;
  padding-bottom: 5px;
  font-size: 18px;
}

.sub_menu_box dl {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 3.0;
  font-size: 16px;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

.sub_menu_box dt {
  width: 65%;
  text-align: center;
  font-size: 16px;
  border-bottom: solid 1px #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sub_menu_box dd {
  width: 35%;
  text-align: center;
  font-size: 16px;
  border-bottom: solid 1px #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: solid 1px #ccc;
}

/*--menuここまで--*/
/*--予約ここから--*/
#yoyaku {
  padding-top: 60px;
  margin-top: -60px;
}

.yoyaku_text {
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.yoyaku_box {
  margin-bottom: 30px;
}

.yoyaku_box p {
  text-align: center;
  font-size: 16px;
}

.yoyaku_box .button_tel {
  text-align: center;
  border: solid 1px #c2a79c;
  width: 70%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

.yoyaku_box .button_tel a {
  text-decoration: none;
  display: block;
  color: #696C75;
}

.yoyaku_box .button_tel a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f095";
  font-weight: 600;
  margin-right: 5px;
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.yoyaku_box .button_line {
  text-align: center;
  border: solid 1px #c2a79c;
  width: 70%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

.yoyaku_box .button_line a {
  text-decoration: none;
  display: block;
  color: #696C75;
}

.yoyaku_box .button_line a::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f3c0";
  font-weight: 200;
  margin-right: 5px;
}

/*--予約ここまで--*/
/*--accesここから--*/
.acces img {
  width: 100%;
}

.acces_box .address {
  margin: 40px 0;
}

.acces_box .address dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5;
  font-size: 16px;
}

.acces_box .address dl dt {
  width: 30%;
  padding: 10px 0;
  border-right: solid 1px #000;
}

.acces_box .address dl dd {
  width: 50%;
  padding: 10px 0;
  padding-left: 30px;
}

.acces_box .map iframe {
  width: 100%;
  height: 100%;
}

/*--accesここまで--*/
/*--faqここから--*/
/*アコーディオン全体*/
.accordion-area {
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

.accordion-area li {
  margin: 15px 0;
}

.accordion-area section {
  border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  padding: 3% 40px 3% 3%;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  line-height: 1.5;
  margin-left: 20px;
}

/*アイコンの＋と×*/
.title::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  content: '\f107';
  font-weight: 900;
  font-size: 24px;
  top: 10%;
  right: 15px;
}

.title::before {
  content: 'Q.';
  margin-right: 15px;
  font-size: 20px;
  position: absolute;
  left: -16px;
  top: 12%;
}

/*　closeというクラスがついたら形状変化　*/
.title.close::after {
  font-family: "Font Awesome 5 Free";
  content: '\f106';
  font-weight: 900;
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;
  /*はじめは非表示*/
  background: rgba(207, 180, 156, 0.2);
  margin: 0 5% 3% 3%;
  padding: 3%;
  margin-top: 10px;
  line-height: 2.0;
  border-radius: 5px;
  position: relative;
}

.box p {
  font-size: 16px;
  margin-left: 20px;
}

.box p::before {
  content: 'A.';
  font-size: 20px;
  position: absolute;
  left: 5px;
  top: 5%;
}

/*--faqここまで--*/
/*---最後に。。。ここから*/
.last_text h5 {
  display: inline-block;
  width: 170px;
  height: 170px;
  text-align: center;
  line-height: 170px;
  font-size: 20px;
  font-weight: 500;
}

.last_text p {
  margin-bottom: 10px;
  font-size: 16px;
}

/*---最後に。。。ここまで*/
/*--予約固定蘭ここから--*/
.under_fix {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(255, 255, 250, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

.under_fix .reserve_box {
  background-color: #c2a79c;
  display: inline-block;
  width: 85%;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

.under_fix .reserve_box a {
  text-decoration: none;
  display: block;
  color: #fff;
}

.under_fix .reserve_box a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f073";
  font-weight: 200;
  margin-right: 5px;
}

/*--予約固定蘭ここまで--*/
/*--footerここから--*/
.footer {
  background-color: rgba(207, 180, 156, 0.4);
  width: 100vw;
  font-size: 16px;
  margin-top: 50px;
  padding: 20px 0;
  margin-bottom: 100px;
}

.footer_box {
  width: 92%;
  margin: 0 auto;
}

.footer_main p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer_main dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5;
  font-size: 16px;
}

.footer_main dl dt {
  width: 30%;
  padding: 10px 0;
  border-right: solid 1px #fff;
}

.footer_main dl dd {
  width: 60%;
  padding: 10px 0;
  padding-left: 30px;
}

.footer_menu ul {
  margin-top: 40px;
}

.footer_menu ul li {
  list-style: none;
  border-bottom: solid 1px #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
}

.footer_menu ul li a {
  text-decoration: none;
  color: #696C75;
}

.footer_menu ul li a::before {
  font-family: "Font Awesome 5 Free";
  content: '\f138';
  font-weight: 900;
  margin-right: 5px;
}

/*--footerここまで--*/
/*リンクの形状*/
#page-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c2a79c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#page-top a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  font-weight: 600;
  font-size: 30px;
}

#page-top a:hover {
  background: #777;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 70px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

/*　上に上がる動き　*/
#page-top.UpMove {
  -webkit-animation: UpAnime 0.8s forwards;
          animation: UpAnime 0.8s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes UpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove {
  -webkit-animation: DownAnime 0.8s forwards;
          animation: DownAnime 0.8s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

.recruit-main .recruit_index {
  font-size: 22px;
  border-left: solid 5px #c2a79c;
  border-right: solid 5px #c2a79c;
  padding: 10px 20px;
  text-align: center;
}

.recruit-main .recruit_logo {
  text-align: center;
}

.recruit-main .recruit_logo img {
  width: auto;
  height: 80px;
  margin: 30px 0;
}

.recruit-main_text {
  background-color: #c2a79c;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  height: auto;
}

.recruit-main_text P {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.recruit-main_subtext {
  margin-top: 40px;
}

.recruit-main_subtext p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.recruit-sub .recruit_index {
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
  color: #000;
}

.recruit-sub .recruit_index h4 {
  font-weight: 400;
}

.recruit-sub .index {
  text-align: center;
  margin: 10px 0;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.recruit-sub_text {
  margin-bottom: 20px;
  background-color: #F7F7F7;
  padding: 1% 5%;
  border-radius: 3px;
}

.recruit-sub_text p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 16px;
}

.recruit-sub_text img {
  width: 100%;
  margin-bottom: 20px;
}

.recruit-subsub img {
  width: 100%;
}

.recruit-subsub p {
  font-size: 16px;
  margin: 20px 0;
  line-height: 1.5;
}

.recruit-recruit_text {
  margin-bottom: 30px;
}

.recruit-recruit_text .index {
  text-align: center;
  background-color: #F8F8F8;
  color: #000;
  margin: 10px 0;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
}

.recruit-recruit_text p {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 16px;
}

.recruit-recruit_text ul li {
  list-style: none;
  line-height: 1.5;
  font-size: 16px;
}

.recruiting_list {
  background-color: #c2a79c;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
}

.recruiting_list li {
  margin-left: 20px;
  line-height: 1.5;
  font-size: 16px;
}

.recruiting p {
  font-size: 16px;
  line-height: 1.5;
}

.recruit_contact p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.recruit_contact .button {
  text-align: center;
  border: solid 3px #c2a79c;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 0;
}

.recruit_contact ul {
  margin-bottom: 20px;
}

.recruit_contact ul li {
  margin-left: 30px;
  line-height: 1.5;
}

/*==================================================
ギャラリーのためのcss
===================================*/
.style-list {
  margin-top: 90px;
  /*ギャラリー内のイメージは横幅100%にする*/
  /*　横幅900px以下の段組み設定　*/
}

.style-list .gallery {
  -webkit-columns: 5;
          columns: 5;
  /*段組みの数*/
  padding: 0 15px;
  /*ギャラリー左右に余白をつける*/
  margin: 0 auto;
}

.style-list .gallery li {
  margin-bottom: 20px;
  /*各画像下に余白をつける*/
  list-style: none;
}

.style-list .gallery img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  /*画像の下にできる余白を削除*/
}

@media only screen and (max-width: 900px) {
  .style-list .gallery {
    -webkit-columns: 4;
            columns: 4;
  }
}

@media only screen and (max-width: 768px) {
  .style-list .gallery {
    -webkit-columns: 3;
            columns: 3;
  }
}
/*# sourceMappingURL=style.css.map */
